h3 {
    display: inline-block;
    margin : 0
    background: #B9121B;

  }
  
  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .double-nav .breadcrumb-dn {
  color: #fff;
  }
 
  .navbar-inverse { margin : 0 !important; }
  .navbar-expand-lg { margin : 0 !important; width : 1; }
  .nav-link { margin : 0 !important; width : 0.5; }
  .content {margin-top: -20px;}

  .navbar-expand-lg .navbar-nav > li > a {
    font-weight: 390;
    color: #949494;
    display: block;
    padding: 5px 35px 2px 45px;
    border-bottom: 3px solid transparent;
    margin:0 0 4px;
    text-decoration: none;
    transition: border-bottom-color 0.5s ease-in-out;
    -webkit-transition: border-bottom-color 0.5s ease-in-out; 
  }
 
html, body {
    max-width: 100%;
    overflow-x: hidden;
}}